{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="container ">
    <div class="row my-5">
        <div class="col-12">
            <h2>カート</h2>
            {% if object_list|length != 0 %}
            <table class="table mb-5 text-right">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">商品番号</th>
                        <th scope="col">商品名</th>
                        <th scope="col"></th>
                        <th scope="col">単価</th>
                        <th scope="col">個数</th>
                        <th scope="col">計</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>No.{{forloop.counter}}</td>
                        <td>{{object.pk}}</td>
                        <td><img style="width: 5rem;" src="{{ object.product_image.url }}" class="card-img-top product-image" alt="product-image"></td>
                        <td>{{object.product_name}}</td>
                        <td>{{object.product_price}}</td>
                        <td>
                            <input type="number" name="quantity" value="{{object.quantity}}" min="1" style="width: 4rem;" class="text-right quantity-input" data-pk="{{object.pk}}">
                            <button type="button" class="btn btn-primary btn-sm cart-update-btn" data-pk="{{object.pk}}">更新</button>
                        </td>
                        <td id="subtotal-{{object.pk}}">¥　{{object.subtotal}}</td>
                        <td><a href="/cart/remove/{{object.pk}}/" class="my-auto btn btn-danger btn-sm">削除</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="lead text-right" id="total">合計 - ¥{{total}}</p>

            <!-- Checkoutボタン -->
            <form action="/checkout/" method="POST" class="text-right">
            {% csrf_token %}
                <button type="submit" class="btn btn-primary">Checkout</button>
            </form>
            {% else %}
            <p class="">ショッピングカートにアイテムがありません。</p>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'scripts/cart_update.js' %}" defer></script>
{% endblock %}
