<!-- products/product_list.html -->
<!DOCTYPE html>
<html>
<head>
    <style>
        .product-image {
            max-width: 100px; /* Adjust as needed */
            height: auto; /* Ensures image aspect ratio is maintained */
            border-radius: 5px; /* Rounded corners */
        }
    </style>
    <title>Product List</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/journal/bootstrap.css">
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>
                <h2>{{ product.product_name }}</h2>
                <!-- Displaying the image -->
                 
                <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="product-image">
                <p><strong>Price:</strong> ${{ product.product_price }}</p>
                <p><strong>Estimated Shipping Date:</strong> {{ product.est_ship_date }}</p>

                <!-- Add more details as needed -->
            </li>
        {% endfor %}
    </ul>
</body>
</html>