{% extends "./base.html" %}
{% block main %}
<body>
    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="bg-white border overflow-hidden">
                    <img width="100%" src="{{ product.product_image.url }}" alt="{{ product.product_name }}">
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="border p-3 text-left text-dark overflow-hidden">
                    <h2 class="display-5">{{ product.product_name }}</h2>
                    <p class="lead"> SKU number : #{{product.id}}</p>
                    <p class="lead">カテゴリー: {{ product.category }}</p>
                    <p class="lead">価格: ¥{{ product.product_price }}　(税込)</p>
                    <p class="lead">{{ product.product_description }}</p>
                    <p class="lead"><strong>出荷予定日:</strong> {{ product.get_est_ship_date }} 出荷予定</p>
                    <p class="lead"><strong>返品可否:</strong> {% if product.can_return %}
                        可能
                        {% else %}
                        不可能
                        {% endif %}
                    </p>
                    <form action="/cart/add/" method="POST" class="">
                        {% csrf_token %}
                        <input type="hidden" name="item_pk" value="{{product.id}}">
                        <p>
                            <input type="number" class="form-control d-inline w-25" name="quantity" value="1"> 点</p>
                        </p>
                        <p>
                            <button class="btn btn-success" type="submit" id="add-button">Add to Cart</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}